@model IEnumerable<AirStore.Models.Product>

@{
    ViewData["Title"] = "Каталог товаров";
}

<h1>Каталог товаров</h1>

@if (User.Identity.IsAuthenticated)
{
    <form asp-action="Logout" method="post">
        <button type="submit" class="btn btn-link">Logout</button>
    </form>
}
else
{
    <a asp-action="Login">Login</a>
}

<p>
    <a asp-action="Create">Добавить товар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diskription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diskription)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="@item.ImagePath" alt="Изображение товара" style="max-width: 100px; max-height: 100px;" />
                    }
                    else
                    {
                        <span>Нет изображения</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProduct">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProduct">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProduct">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>